.footerlogo{
    .footerlogo__container{
        width: calc(100% - 60px);
        margin: 0 auto !important;
        .row-logo{
            margin: 0 auto !important;
            flex: 1 1 33%;
            margin-bottom: 14px !important;
            li{
                margin: 28px auto !important;
                img{
                    height: 28px;
                    margin: 0 auto !important;
                    display: block !important;
                }
            }
            
        }
    }
}