body{ 
    .logostrap{
        width: 230px;
        z-index: 99;
        position: fixed;
        left: 100%;
        top: 35%;
        transform: translate(-44px);
        i{
            display: inline-block;
            font-size: 22px;
            height: 44px;
            line-height: 44px;
            text-align: center;
            width: 44px;
        }
        .logostrap__content{
            li{
                border-top-left-radius: 3px;
                background: #1f1f1f;
                height: 44px;
                margin: 1px auto !important;
                span{
                    line-height: 44px;
                    vertical-align: top;
                    &:hover{color: $color-white-1;}
                }
                &:hover{
                    transform: translateX(-186px);
                }
                .logostrap__social-link{
                    .logostrap__social-wrap{
                        i:hover{
                            color:$color-blue-1 !important;
                        }
                    }
                }
                transition: transform .5s ease-in-out;
            }
            
            
        }
        
        
    }
}
    